
<%= link_to 'Back', categories_path, class: "btn btn-md btn-success" 	%>
<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Editing Category</h3>
    </div>
    <div class="panel-body">
    <%= render 'form', category: @category %>

	
	
    </div>
</div>



