	 <div id="about" class="container">
    	<div class="bg">   	
    		<div class="row">  
    			<div class='col-md-12'>
    				<p>Chào mọi người đến với trang foodlover. Đây là trang web kết nối mọi người với nhau, chia sẻ thực phẩm tuoi ngon, bổ dưỡng.</p>
    				<p>Đến đây chúng ta thưởng thức những món ăn ngon, sạch sẽ.Thanh toán online là giúp mọi người an toàn trong khâu tính phí.</p>
    				<p>Hãy đến ủng hộ trang chúng tôi. Cảm ơn.</p>
    			</div>	
	    	</div>  
    	</div>	
    </div><!--/#contact-page-->