
<%= link_to 'Back', products_path , class: "btn btn-md btn-success" %>
<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New product</h3>
    </div>
    <div class="panel-body">

<%= render 'form', product: @product %>


	</div>
</div>
